* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

@media (min-width: 500px) {
    body {
        grid-template-columns: 1fr 5fr 1fr;
    }

    header {
        grid-column: 2;
    }

    h3 {
        grid-column: 2;
    }

    .fundos {
        grid-column: 2;
    }

    #container-indices {
        grid-column: 2;
    }

    .buttons {
        grid-column: 2;
    }

    .container-table {
        grid-column: 2;
    }

    .presets {
        grid-column: 2;
    }
    footer{
        grid-column: 1/4;
    }
}

body {
    display: grid;
    margin: 20px;
    align-items: center;
    justify-items: center;
    gap: 25px 0;
}

#container-indices {
    width: 100%;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 15px;
    border-radius: 10px;
}

.indices {
    min-width: 20px;
    border: 2px solid #3c3cbb;
    border-radius: 10px;
}

.fundos {
    padding: 5px;
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
    border: 3px solid #3c3cbb;
    border-radius: 10px;
}

.container-fundo {
    width: fit-content;
    display: flex;
    color: white;
    padding: 5px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.fundo {
    min-width: 20px;
    border-bottom: 1px solid white;
}

button {
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.buttons * {
    height: fit-content;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.newFundo {
    background-color: #3b3abe;
    border-bottom: none;
}

.newFundo:hover {
    opacity: 0.7;
}

.newFundo:checked {
    opacity: 0.5;
}
.clear {
    color: black;
    background-color: #00d9ff;
}

.clear:hover {
    cursor: pointer;
}

.submit {
    background-color: #02503d;
}

.submit:hover {
    opacity: 0.7;
}

button {
    border: none;
    color: white;
    background-color: black;
}

.container-table {
    width: 100%;
    overflow-x: auto;
}

.container-table::-webkit-scrollbar {
    width: 100%;
    height: 32px;
}

table {
    width: 100%;
    color: black;
    border: none;
    border-collapse: collapse;
}
tr th:hover{
    cursor: pointer;
}
th, td {
    border: 1px solid #6a6a6a;
    padding: 5px 3px;
}
.invisible{
    background-color: black;
    border: transparent;
}
th {    
    justify-content: left;
    align-items: center;
    margin: 10px;
    background-color: #cdcdcd;
}
a{
    color: black;
    text-decoration: none;
}
tr{
    background-color: white;
}
tr:hover {
    background-color: #f1f1f1;
}   
.presets{
    padding: 5px;
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
    border: 3px solid #3c3cbb;
    border-radius: 10px;
}
.presets *{
    color: black;
    background-color: white;
    padding: 10px;
    border: 3px solid #3c3cbb;
    border-radius: 10px;
}
.presets *:hover {
    opacity: 0.7;
}
footer{
    width: 100%;
    background-color: #171794;
    text-align: center; 
    padding: 10px; 
    border-top: 1px solid #ddd;
}
.icones{
    display: flex;
    justify-content: space-around;
}
img{
    width: 50px;
    height: 50px;
}